<!-- Drop down for general pages in nav bar -->
<ul id="general-pages-dropdown" class="dropdown-content">
  <li><a href="/about">About Us</a></li>
  <li class="divider"></li>
  <li><a href="/contact">Contact Us</a></li>
  <li class="divider"></li>
  <li><a href="/privacy">Privacy Policy</a></li>
</ul>

<!-- Fixed navbar that follows you while you scroll down -->
<div class="navbar">
  <nav>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">Bread Express</a>
      <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/customers">Customers</a></li>
        <li><a href="/addresses">Addresses</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="general-pages-dropdown">More Of Us<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
      </ul>
      <ul id="mobile-nav" class="side-nav">
        <li class="bold"><a href="/customers" class="waves-effect waves-teal">Customers</a></li>
        <li class="bold"><a href="/addresses" class="waves-effect waves-teal">Addresses</a></li>
        <li class="bold"><a href="/orders" class="waves-effect waves-teal">Orders</a></li>
        <li class="bold"><a href="/about" class="waves-effect waves-teal">About Us</a></li>
        <li class="bold"><a href="/contact" class="waves-effect waves-teal">Contact Us</a></li>
        <li class="bold"><a href="/privacy" class="waves-effect waves-teal">Privacy Policy</a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- Small parallax image at top with informational text embedded -->
<div class="parallax-container" style="height: 120px">
  <div class="parallax faded-bg-image"><%= image_tag "bg-#{rand(0..6)}.jpg"%></div>
  <div class="container">
    <h4 class="center-align white-text raised-text no-margin-bot"><%= yield :page_heading %></h4>
    <p class="center-align white-text raised-text" style="margin: 2px"><%= yield :page_info %></p>
  </div>
</div>