<h2>Welcome To A &amp; M Bread Express</h2>
<br />
<div class="row">
	<div class="small-7 columns">
		<p>
			Bread Express is the smallest, but absolutely best, online bakery 
			we know of.  You should order lots of our products now.  They are
			delicious, nutritious and amazing in every way.  Why are you still 
			reading this?  You should be ordering bread right now.  Stop reading 
			and start ordering.  (Still reading? What are you waiting for?)
		</p>
	</div>
	<div class="small-1 columns">
		&nbsp;
	</div>
	<div class="small-4 columns">
		<div class="panel clearfix">
			<h3>Customers:</h3>
			<p>
				If you are a registered user, 
			  <%= link_to "click here to login", login_path %>. If you want 
			  to create an account with us, <%= link_to "please click to register", signup_path %>.
			</p>
		</div>
	</div>
</div>


