<% content_for :title, "About Us - Bread Express" %>
<% content_for :page_heading, "About Bread Express" %>
<% content_for :page_info, "Learn all about us and our great bread!" %>

<div class="section white z-depth-5">
  <div class="container">
    <h4>About Us At Bread Express</h4>
    <div class="divider"></div>
    <p>Bread Express was co-founded by Alex and Mark Heimann in 2015 B.C. and is the longest running pasty shop in the
    history of time. The founders pride themselves on their bread as it is what has kept them alive for over 9000 years.
    Their pastries? They're ok. Regardless, Bread Express was founded on the principle that the customer always
    comes first, and so we assure you that your bread will be made with the best ingredients and will be delivered to you
    as quickly as possible (we don't call ourselves Bread Express for nothing you know).</p>

    <p>Our most popular item is our <span class="italic">'Le Breade'</span> which is always made by the founders themselves. We receive thousands of
      orders for this popular item and still our founders insist on <span class="strikethrough">buying the bread from Walmart</span>
      baking it themselves and shipping it to each and every customer personally. What great guys! See what our customers
      have to say about the <span class="italic">'Le Breade'</span>:</p>

    <blockquote>
      The <span class="italic">'Le Breade'</span> is one of the finest pieces of grain that I have had the honor of tasting.<br />
      You just can't match the soft, rich, sweet texture of the bread and I hear the founders make it themselves! <br />
      This definitely doesn't taste like the stuff you get at Walmart.<br />
      <span class="italic">-Alexe Himan</span>
    </blockquote>

    <blockquote>
      Delicious!! The first time I took a bite out of the <span class="italic">'Le Breade'</span> I fell in love with it.<br />
      It cried out in pain, but, I ate the rest of it anyway since it is just a piece of bread and doesn't have feelings.<br />
      <span class="italic">-Subaru Sureshu</span>
    </blockquote>

    <p>Bread Express is ready to take your order! We have the best bread and pastries! Order today! We also do
    catering service at the cost of an arm and/or a leg (serious customers only). See our <a href="/contact">contact page</a> to see
    how to get in touch with us. Thank you!</p>
  </div>
</div>
