<% content_for :title, page_title %>
<% content_for :page_heading, page_heading %>
<% content_for :page_info, page_info %>

<div class="section white z-depth-5">
  <div class="container">
    <div id='2-col-wrapper' class="row">
      <div class="col s9" style="padding-right: 20px">
        <h4 id="item-list-title">Featured Items</h4>
        <div class="divider"></div>
        <div class="row">
          <%= render 'item_cards' %>
        </div>
      </div>
      <div class="col s3">
        <div id="home-side-bar">
          <a class="waves-effect waves-light btn-large side-bar-btn">Login</a><br />
          <a class="waves-effect waves-light btn-large side-bar-btn">Sign Up</a><br />
          <a id="cart_trigger_btn" class=" modal-trigger waves-effect waves-light btn-large side-bar-btn" href="#cart_modal">
            <%= render 'cart_count' %></a>
          <div class="divider"></div>
          <div class="section">
            <h5>Item Filters</h5>
            <%= render 'item_filters' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="cart_modal" class="modal modal-fixed-footer">
  <%= render 'cart' %>
</div>