<div class="row">
	<div class="small-7 columns">
		<h2>A &amp; M Bread Express Privacy Policy</h2>

		<p>The Bread Express privacy policy is very simple, rarely changes, and 
			does not require a lawyer to understand it.  
			We will pounce on the opportunity to sell every bit of information 
			on you they have at our disposal.  We will gladly sell your address, 
			phone, email, age, name of pet, name of favorite superhero, color of 
			bunny slippers you wear at home, and the like, to any willing buyer 
			who will pay the big bucks.  (BTW, we <em>know</em> you wear bunny 
			slippers at home and we know what color they are.  You really have 
			no secrets from this crew.)  If you have sensitive information that 
			you don't want us to share with the world, then keep it to yourself 
			-- don't tell us.  
			<br><br>
			It's really that simple.
		</p>

		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
</div>