<% unless @inactive_customers.empty? || !logged_in? %>
  <div class="panel clearfix">
    <h3>Inactive Customers</h3>
    <ul>
      <% @inactive_customers.each do |customer| %>
        <li><%= link_to customer.name, customer_path(customer) %></li>
      <% end %>
    </ul>
  </div>
<% end %>