<% content_for :title, "#{is_admin?? 'New Customer':'Sign Up'}" %>
<% content_for :page_heading, "#{is_admin?? 'Add a new customer' : 'Create your BreadExpress account'}" %>
<% content_for :page_info, "#{is_admin?? 'Add a new customer\'s information to the system.':
                                         'Once you\'ve created an account you can begin shopping'}" %>
<div class="section white z-depth-5">
  <div class="container">
    <h4 class="left-align"><% if is_admin? %><%= link_to "Customers", customers_path %> > <% end %>
      <%= "#{is_admin?? 'New Customer':'Sign Up'}" %></h4>
    <div class="divider" style="margin-bottom: 5px"></div>
    <%= render 'form' %>
  </div>
</div>

