<% content_for :title, "Error" %>
<% content_for :page_heading, "Error" %>
<% content_for :page_info, "Hmmm... an error has occurred." %>
<div class="section white z-depth-5">
  <div class="container">
  <h2>Server Error (ﾉಥДಥ)ﾉ︵┻━┻         </h2>
  <div class="divider"></div>
    <p>An error has occured. You may have visited the wrong page or the site just blew up.</p>
    <p>Please visit the <%= link_to "home page", root_path %> ( ͡o ͜ʖ ͡o) and try to continue with what you were doing.</p>
    <p>Thanks for stopping by at Bread Express</p>
    <pre>
      ----- I love Bread Express!
      |
      |

╚═( ͡° ͜ʖ ͡°)═╝
╚═(███)═╝
╚═(███)═╝
.╚═(███)═╝
..╚═(███)═╝
…╚═(███)═╝
…╚═(███)═╝
..╚═(███)═╝
.╚═(███)═╝
╚═(███)═╝
.╚═(███)═╝
..╚═(███)═╝
…╚═(███)═╝
…╚═(███)═╝
…..╚(███)╝
……╚(██)╝
………(█)
……….*
    </pre>
  </div>
</div>