<div class="row">
	<div class="small-4 columns">
		<%= image_tag 'battlestar-galactica-logo-vector.png' %>
	</div>
	<div class="small-8 columns">
		<h2>Frak.&nbsp;&nbsp;It's a 500 Error.</h2>

    <h5>We are sorry, but due to a <%= link_to "Cylon", "http://en.battlestarwiki.org/wiki/Cylons_(RDM)" %> <%= link_to "virus", "http://en.battlestarwiki.org/wiki/Cylon_computer_virus" %> that has infected the central computer system the page you are looking could not be generated. Once our systems have been restored from a clean back-up, we will be able to spool up the <%= link_to "FTL drive", "http://en.battlestarwiki.org/wiki/FTL#Faster-Than-Light_travel" %> and make the jump to a safer location.  Once the fleet is secure, you will be notified (the error has been logged) and may try your request again at that time.</h5><br />
    <h5>So say we all.</h5>
	</div>
</div>
