<h3>Address Information</h3>

<p>
  <b>Recipient</b>: <%= @address.recipient %>
</p>

<p>
  <b>Address</b>: <br />
  <%= render :partial => "partials/address_info", locals: {address: @address} %>
</p>

<p>
  <b>Billing</b>: <%= @address.is_billing ? 'Yes' : 'No' %>
</p>

<p>
  <b>Active</b>: <%= @address.active ? 'Yes' : 'No' %>
</p>

