<% content_for :title, "New Address" %>
<% content_for :page_heading, "Add a new address" %>
<% content_for :page_info, "Add a new address to the system." %>
<div class="section white z-depth-5">
  <div class="container">
    <h4 class="left-align"><%= link_to "Addresses", addresses_path %> > New Address</h4>
    <div class="divider" style="margin-bottom: 5px"></div>
    <%= render 'partials/flash' %><br />
    <%= render 'form' %>
  </div>
</div>
