<div class="row">
  <div class="small-7 columns">
    <%= render :partial => "address_details" %>
  </div>
  <div class="small-5 columns">
    &nbsp;
  </div>
</div>

<!-- Add buttons to list all, edit project or destroy object -->
<%= render partial: "partials/object_options", locals: {model_name: "address", object: @address}  %>